.header {
  position: relative;
  padding: 70px 0;
  color: #fff;
  z-index: 2;

  .container {
    min-height: 85vh;
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 30px;

    line-height: 1;
    color: $clr-light;
    z-index: map-get($z-indexes, title);
  }

  &__subtitle {
    margin: 0 0 100px 0;
    font-size: 1rem;
  }

  &__introduction {
    color: $clr-light;

    p {
      margin: 0;
      font-size: 20px;
      line-height: 150%;
    }

    strong {
      font-weight: 700;
    }

    a {
      color: $clr-light;
      text-decoration: none;
      font-weight: 700;
    }
  }

  &__email-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  &__email {
    font-weight: 500;
    line-height: 1;
    color: $clr-light;
    text-decoration: none;
    border-radius: 70px;
    padding: 12px 16px;
    border: 2px solid $clr-light;
  }

  &__introduction,
  &__arrow-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__arrow-container {
    align-items: flex-end;
  }

  @include media-up(md) {
    .container {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &__title {
      font-size: 6rem;
      margin-bottom: 0;
    }
  }
}
