.header {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: map-get($z-indexes, header);
  font-size: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($clr-dark, 0.8);
    z-index: -1;
  }

  .container {
    height: 100%;
    position: relative;
    padding-top: 20vh;
  }

  &__background {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    z-index: -2;
  }

  &__main,
  &__aside,
  &__go-down {
    z-index: 1;
  }

  &__main > *,
  &__aside > * {
    opacity: 0;
  }

  &__cta {
    opacity: 0;
    transform: translateY(100%);
  }

  &__title {
    font-size: 1.9rem;
    line-height: 1.25;
  }

  &__subtitle {
    margin: 0 0 30px 0;
    line-height: 1.5;
    font-weight: 300;
  }

  &__introduction {
    margin: 0;
    line-height: 1.5;
    margin-bottom: 0.625rem;

    strong {
      font-weight: 700;
    }

    a {
      color: $clr-light;
      text-decoration: none;
      font-weight: 700;
    }
  }

  &__pills {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  &__school {
    margin-top: 30px;
    list-style: none;
    padding: 0;

    > li {
      width: fit-content;
      padding: 6px 0;
      font-size: 0.75rem;
      line-height: 1.5;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 1px;
        background-color: rgba($clr-light, 0.2);
      }

      .line {
      }

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__cv {
    width: fit-content;
    padding: 6px 12px;
    border-radius: 70px;
    border: 1px solid $clr-light;
    font-size: 0.75rem;
    color: $clr-light;
    transition: all 0.3s;

    &:hover {
      background-color: $clr-light;
      color: $clr-dark;
    }
  }

  &__side-text {
    color: $clr-light;
    font-size: 0.9375rem;
    line-height: 1.5;
  }

  &__cta {
    display: none;
  }

  @include media-up(md) {
    height: 100%;
    padding-top: 0;

    &::before {
      display: none;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding-top: 0;
    }

    &__main {
      padding-left: 5%;
      padding-right: 10%;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__background {
      left: 50%;
      width: 50%;
      z-index: 2;
    }

    &__title {
      font-size: 2.1rem;
    }

    &__introduction {
      font-size: 1.0625rem;
    }

    &__subtitle {
      font-size: 1.0625rem;
    }

    &__aside {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 30px;
    }

    &__side-text {
      margin: 0;
      max-width: 31rem;
      margin-left: auto;

      line-height: 1.2;
      font-size: 0.9375rem;
      text-align: right;
    }

    &__cta {
      position: absolute;
      bottom: 30px;

      display: flex;
      align-items: flex-end;
      gap: 10px;
      left: $container-pd-desktop;
    }
  }

  @include media-up(lg) {
    &__school {
      > li {
        font-size: 0.875rem;
      }
    }
    &__main {
      padding-left: 15%;
      padding-right: 20%;
    }
  }
}
