.header {
  position: relative;
  overflow: hidden;
  padding: 70px;
  height: 100vh;
  color: #fff;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 6rem;
    line-height: 1;
    color: $clr-light;
  }

  &__subtitle {
    margin: 0 0 100px 0;
    font-size: 1rem;
  }

  &__top-links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    height: auto;

    a {
      font-size: 1rem;
      text-decoration: none;
    }
  }

  &__introduction {
    p {
      margin: 0;
      font-size: 20px;
      line-height: 150%;
    }

    strong {
      font-weight: 700;
    }
  }

  &__introduction,
  &__arrow-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__arrow-container {
    align-items: flex-end;
  }

  @include media-up(md) {
  }
}
