*,
*::before,
*::after {
  box-sizing: border-box;
}

.gradient-background {
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  max-width: 100%;
  // background: linear-gradient(284deg, #ff4747, #444296, #0d4b39);

  background-size: 150% 150%;
  animation: gradient-animation 18s ease infinite;

  // &::before {
  //   content: "";
  //   background: url("../images/header-bg-gradient-2.png") center/cover;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100vw;
  //   height: 100vh;
  //   object-fit: contain;
  // }
}

.container {
  padding: 0 5%;
}

a {
  text-underline-offset: 2px;
}

strong {
  font-weight: 500;
}

.footer {
  margin-top: 120px;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.line {
  position: relative;
  width: fit-content !important;

  &::before {
    content: "";
    background-color: $clr-accent;
    position: absolute;
    bottom: 2%;
    left: 1px;
    width: 0;
    height: 35%;
    z-index: -1;
    transition: all 0.3s 0s cubic-bezier(0.85, 0, 0.15, 1);
  }
}
