.projects-section {
  position: relative;
  margin-top: 50px;
  color: $clr-light;
  overflow: hidden;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;

    height: 100vh;
  }

  @include media-up(md) {
  }
}
