.projects-slider {
  margin-top: 50px;

  &__slider {
    position: relative;
    color: $clr-light;
    overflow: hidden;
    position: relative;
    height: 100vh;
  }

  @include media-up(md) {
  }
}
