@import "./animations.scss";

$breakpoints: (
  xs: 36em,
  sm: 48em,
  md: 64em,
  lg: 85.375em,
  xl: 120em,
  xxl: 160em
);

$min-xs: "(min-width: #{map-get($breakpoints, xs)})";
$min-md: "(min-width: #{map-get($breakpoints, sm)})";
$min-md: "(min-width: #{map-get($breakpoints, md)})";
$min-lg: "(min-width: #{map-get($breakpoints, lg)})";
$min-xl: "(min-width: #{map-get($breakpoints, xl)})";
$min-xxl: "(min-width: #{map-get($breakpoints, xxl)})";
$min-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

$clr-light: #ffe8ec;
$clr-primary: #161616;
$clr-dark: #070707;
$clr-accent: #fe4a49;

$z-indexes: (
  three: 1,
  overlay: 1,
  title: 2,
  introduction: 3
);

// :export {
//   clr-light: $clr-light;
//   clr-primary: $clr-primary;
//   clr-accent: $clr-accent;
// }
