.projects-list {
  padding: 70px 0;
  position: relative;
  background: $clr-dark;

  &__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1;
    color: $clr-light;
  }

  &__image-wrapper {
    position: fixed;
    width: 40vw;
    height: 40vw;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;

    img {
      object-fit: contain;
      opacity: 0;
    }
  }

  &__row--header {
    display: none;
  }

  &__header {
    margin-bottom: 30px;
  }

  @include media-up(md) {
    &__title {
      margin-bottom: 80px;
    }

    &__row {
    }

    &__row--header {
      display: grid;
      grid-template-columns: 6fr 4fr 4fr 3fr 3fr 2fr;
      grid-gap: 10px;

      padding-bottom: 30px;
      font-weight: bold;
      font-size: 1rem;
    }
  }

  @include media-up(lg) {
  }
}
