.scene {
  min-height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  z-index: map-get($z-indexes, three);

  @include media-up(md) {
    left: 40%;
    width: 50%;

    > canvas {
      width: 100%;
      height: 100%;
    }
  }
}
