.footer {
  background: $clr-dark;
  color: $clr-light;

  padding: 1.875rem 0;
  font-size: 0.875rem;

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__scrolltop {
    cursor: pointer;
  }

  @include media-up(md) {
    padding: 2.5rem 0;
  }
}
