.projects-list-row {
  $root: &;
  $border: 1px solid rgba($clr-light, 0.2);

  position: relative;
  padding: 30px 0;

  display: grid;
  grid-template-areas:
    "title title"
    "type type"
    "tech tech"
    "team year";
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;

  font-size: 1.2rem;
  text-decoration: none;
  color: $clr-light;

  border-top: $border;

  // Empty span
  > span:nth-child(4) {
    display: none;
    grid-area: blank;
  }

  &__title {
    grid-area: title;
    font-weight: bold;
    font-size: 3rem;
  }

  &__type {
    margin-top: -5px;
    grid-area: type;
  }

  &__tech {
    margin-top: 15px;
    margin-bottom: 80px;
    grid-area: tech;

    > * {
      width: fit-content;
      padding: 6px 8px;
      font-size: 13px;
      border-radius: 70px;
      border: 1px solid rgba($clr-light, 0.8);
    }
  }

  &__team {
    grid-area: team;
  }

  &__year {
    grid-area: year;
    text-align: right;
  }

  &:last-child {
    border-bottom: $border;
  }

  @include media-up(md) {
    grid-template-areas: "title type tech blank team year";
    grid-template-columns: 6fr 4fr 4fr 3fr 3fr 2fr;

    grid-gap: 10px;

    &__title {
      position: relative;
      top: -2px;
    }

    &__type,
    &__tech {
      margin: 0;
    }

    > span:nth-child(4) {
      display: flex;
    }

    > span {
      display: flex;
      align-items: center;
    }
  }
}
