.pill {
  border-radius: 70px;
  background: rgba($clr-dark, 0.3);
  color: $clr-light;
  border: 1px solid $clr-light;
  white-space: nowrap;

  &--sm {
    font-size: 0.75rem;
    padding: 4px 6px;
  }

  &--md {
    font-size: 1rem;
    padding: 0.375rem 0.625rem;
  }
}
