.pill {
  border-radius: 70px;
  padding: 12px 16px;
  background: $clr-dark;
  color: $clr-light;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid $clr-light;
}
